{%extends 'base.html'%}
{%block content%}
<div class="container-fluid">
  {%ifequal tag "locations"%}
      {%if images%}
        <h2>Found {{ images|length}} photo(s) taken at {{location}}</h2>
      {%else%}
        <h2>No photo taken at {{location}}</h2>
      {%endif%}
    {%else%}
      {%if images%}
        <h2>Found {{ images|length}} photo(s) from {{category}} album </h2>
      {%else%}
        <h2>No photo in album {{category}}</h2>
      {%endif%}
    {%endifequal%}<br>
    {%for image in images%}
  <div class="demo gallery row no-gutters">
    
    <div class="zoom col-md-4 col-lg-3 col-sm-12">
      <a class="photo" href="{{image.image_path.url}}" data-caption="{{image.image_name}}">
        <img class="image" src="{{image.image_path.url}}">
        <span class="details">
          <span class="details-heading">{{image.image_name}}</span><br>
          <span class="details-body">{{image.image_description}}</span>
          <div style="display: flex;">
            <h5><span class="badge"><i class="fas fa-map-marker-alt"></i>{{image.location.city}}, {{image.location.country}}</span> 
              <button class="btn btn-sm no-border text-white"><i class="far fa-copy"></i></button>
            </h5>
          </div>
          <small><p><i class="far fa-clock mr-2"></i>{{image.upload_date|timesince}}</p> </small>  
        </span>
      </a>
    </div>
    {%endfor%}
  </div>

</div>
{%endblock %}
{%block scripts%}
<script>

  baguetteBox.run('.demo', {
  captions: true, // display image captions.
  buttons: 'auto', // arrows navigation
  fullScreen: false,
  noScrollbars: false,
  bodyClass: 'baguetteBox-open',
  titleTag: false,
  async: false,
  preload: 2,
  animation: 'slideIn', // fadeIn or slideIn
  verlayBackgroundColor: 'rgba(0,0,0,.8)'
});
</script>
{%endblock%}