{%extends 'base.html'%}
{%block content%}
<div class="container-fluid">
  <div class="demoo gallerry row">
    {%for image in images%}
    <div class="zoom mx-auto col-md-4 col-lg-3 col-sm-12">
      <a class="photo" href="{{image.image_path.url}}" data-caption="{{image.image_name}}">
        <img style="min-height:200px ;" class="image img-fluid" src="{{image.image_path.url}}">
        <span class="details">
          <span class="details-heading">{{image.image_name}}</span><br>
          <span class="details-body">{{image.image_description}}</span>
          <div style="display: flex;">
            <h5><span class="badge"><i class="fas fa-map-marker-alt"></i>{{image.location.city}}, {{image.location.country}}</span> 
              <button class="btn btn-sm badge-default no-border text-white"><i class="far fa-copy"></i></button>
            </h5>
          </div>
          <small><p><i class="far fa-clock mr-2"></i>{{image.upload_date|timesince}}</p> </small>  
        </span>
      </a>
    </div>
    {%endfor%}
  </div>

</div>
{%endblock %}
