{% load static%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
<nav class="mb-1 navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="#"><img src="https://img.icons8.com/nolan/96/camera.png"/>Shutter Up</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home_page'%}">Home
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Locations
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Albums
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          {%for category in categories%}
          <a class="dropdown-item" href="{% url 'album_category' category=category.name%}">{{category.name}}</a>
          {%endfor%}
        </div>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn  btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
  </div>
</nav>